<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <title>Labor vs. Health</title>

  </head>

  
  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
	<a class="navbar-brand" href="#">London School Joggers</a>
      </div>
      <div> 
	<ul class = "nav navbar-nav">
	  <li class = "active"> <a class="navbar-link" href="#"> Unemployment and Drug Use </a> </li>
	  <li> <a class="navbar-link" href="#"> About </a> </li>
	</ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
	<h1 align="center"> Unemployment//Drug Use</h1>      
	<p>This graph shows unemployment data against drug rates nationally over a period of time </p>
      </div>
    </div>

    <div class="container">
      <form class="form-horizontal" action="/" method="POST">
	<div id="yearElement">
	  <div class="form-group">
	    <label for="year" class="col-lg-2 col-lg-offset-4">Enter a year (1992-2012)</label>
	    <div class="col-lg-2">
	      <input type="number" name="year" min="1992" max="2012">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </div>
      </form>
      </div>
    
    <div class="container col-lg-6">
      <svg id="bg"></svg>
    </div>
    <div class="container col-lg-6">
      <svg id="pc"></svg>
    </div>

  </body>
  <script>
    // setting dimensions of canvas
    var margin = {top: 150, right: 40, bottom: 50, left: 60},
    width = 600 - margin.left - margin.right,
    height = 600 - margin.bottom - margin.top;

    // actual svg
    var bg = d3.select("#bg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // actual data stuff
    var data = {{d | safe}};
    var year = {{year}};
    var data2 = {{l | safe}}[year];

    // scaling the axis
    var y = d3.scaleLinear()
    .domain([100,0])
    .range([0,height]);

    var x = d3.scaleBand()
    .domain(d3.entries(data).map(function(d){return d.key;}))
    .rangeRound([0,width])
    .padding(.1);

    bg.selectAll(".bar")
    .data(d3.entries(data))
    .enter().append("rect")
    .attr("class","bar")
    .attr("fill", "green")
    .attr("x", function(d){return x(d.key)})
    .attr("y", function(d){return y(d.value[year])})
    .attr("height", function(d){return height - y(d.value[year])})
    .attr("width", x.bandwidth());

    //x,y axis
    var xAxis = d3.axisBottom(x);
    var yAxis = d3.axisLeft(y);

    bg.append("g")
    .attr("class","x-axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis); 
    bg.append("text")
    .attr("x", width / 2 - margin.right)
    .attr("y", height + margin.bottom - 20)
    .style("font-variant", "small-caps")
    .text("Drugs");
    bg.append("g")
    .attr("class","y-axis") 
    .call(yAxis)
    bg.append("text")
    .attr("transform", "rotate(-90)") 
    .attr("y", - margin.right)
    .attr("x", - width / 2 + 3 * margin.left) 
    .style("text-anchor", "middle")
    .style("font-variant", "small-caps")
    .text("Percentage (%)");
    bg.append("text")
    .attr("x", (width / 2))         
    .attr("y", 0 - (margin.top / 2)) 
    .attr("text-anchor", "middle") 
    .style("font-size", "40px")   
    .style("font-weight", "bold")
    .text("Drug Intake for " + year);


    //bar graph stuff

    //year is defined from bg

    //color scale
    var color = d3.scaleOrdinal(d3.schemeCategory20b);

    // Alternative
    //var color = d3.scaleBand().range(['#A60F2B', '#648C85']);

    // setting dimensions of canvas
    var margin2 = {top: 100, right: 40, bottom: 50, left: 60},
    width2 = 500 - margin2.left - margin2.right,
    height2 = 700 - margin2.bottom - margin2.top;
    var radius = Math.min(width2,height2) / 2;

    // actual svg
    var pc = d3.select("#pc")
    .attr("width", width2 + margin2.left + margin2.right)
    .attr("height", height2 + margin2.top + margin2.bottom)
    .append("g")
    .attr("transform", "translate(" + (width2/2 + 50) + "," + (height2/2 + 100) + ")");


    var arc = d3.arc()
    .innerRadius(0)
    .outerRadius(radius);

    var pie = d3.pie()
    .value(function(d) {return d.value;})
    .sort(null);

    var path = pc.selectAll('path')
    .data(pie(d3.entries(data2)))
    .enter()
    .append('path')
    .attr('d',arc)
    .attr('fill', function(d,i){
    return color(d.data.key);
    })
    .append("text")
    .attr("transform", function(d){return "translate(" + arc.centroid(d) + ")";})
    .attr("dy", "0.35em")
    .text(function(d) {return d.value});


    pc.append("text")
    .attr("x", (0))         
    .attr("y", (height) - 700) 
    .attr("text-anchor", "middle") 
    .style("font-size", "20px")   
    .style("font-weight", "bold")
    .text("Employment vs Unemployment for " + year);
  </script>



</html>
